---
http_interactions:
- request:
    method: get
    uri: http://www3.septa.org/hackathon/Alerts/get_alert_data.php?req1=bus_route_24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2015 20:32:03 GMT
      Content-Type:
      - application/json
      X-B-Srvr:
      - API1
      X-Gw-Rp:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"route_id":"bus_route_24","route_name":"24","current_message":"some bus message","advisory_message":"","detour_message":"","detour_start_location":"","detour_start_date_time":"","detour_end_date_time":"","detour_reason":"","last_updated":"Mar  5
        2015 04:18:44:513PM","isSnow":"N"}]'
  recorded_at: Fri, 13 Mar 2015 20:32:06 GMT
recorded_with: VCR 2.9.3
