---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=5018%20Walton%20Street,%20Philadelphia,%20PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "5018",
                       "short_name" : "5018",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Walton Avenue",
                       "short_name" : "Walton Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Cobbs Creek",
                       "short_name" : "Cobbs Creek",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       [...]
