---
http_interactions:
- request:
    method: get
    uri: http://www3.septa.org/hackathon/BusSchedules/?req1=20869&req2=34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-B-Srvr:
      - API2
      X-Gw-Rp:
      - '1'
    body:
      encoding: UTF-8
      string: '{"34":[{"StopName":"Baltimore Av & 50th St","Route":"34","date":"8:06a","day":"Fri","Direction":"0","DateCalender":"03\/13\/15
        08:06 am"},{"StopName":"Baltimore Av & 50th St","Route":"34","date":"8:09a","day":"Fri","Direction":"0","DateCalender":"03\/13\/15
        08:09 am"},{"StopName":"Baltimore Av & 50th St","Route":"34","date":"8:15a","day":"Fri","Direction":"0","DateCalender":"03\/13\/15
        08:15 am"},{"StopName":"Baltimore Av & 50th St","Route":"34","date":"8:18a","day":"Fri","Direction":"0","DateCalender":"03\/13\/15
        08:18 am"}]}'
  recorded_at: Fri, 13 Mar 2015 12:04:49 GMT
recorded_with: VCR 2.9.3
