---
http_interactions:
- request:
    method: get
    uri: http://www3.septa.org/hackathon/Alerts/get_alert_data.php?req1=trolley_route_34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Mar 2015 20:32:06 GMT
      Content-Type:
      - application/json
      X-B-Srvr:
      - API5
      X-Gw-Rp:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"route_id":"trolley_route_34","route_name":"34","current_message":"some trolley message","advisory_message":"","detour_message":"","detour_start_location":"","detour_start_date_time":"","detour_end_date_time":"","detour_reason":"","last_updated":"Mar
        13 2015 08:51:41:473AM","isSnow":"N"}]'
  recorded_at: Fri, 13 Mar 2015 20:32:06 GMT
recorded_with: VCR 2.9.3
