---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=5019%20Walton%20Street,%20Philadelphia,%20PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "5019",
                       "short_name" : "5019",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Walton Avenue",
                       "short_name" : "Walton Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Cobbs Creek",
                       "short_name" : "Cobbs Creek",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       [...]
- request:
    method: get
    uri: http://www3.septa.org/hackathon/Stops/34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-B-Srvr:
      - API3
      X-Gw-Rp:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"lng":-75.162559,"lat":39.952532,"stopid":283,"stopname":"13th St
        Trolley Station"},{"lng":-75.203333,"lat":39.949595,"stopid":301,"stopname":"40th
        St Trolley Portal"},{"lng":-75.246245,"lat":39.917304,"stopid":304,"stopname":"Woodland
        Av &amp; Island Av"},{"lng":-75.246343,"lat":39.943811,"stopid":599,"stopname":"Baltimore
        Av &amp; 61st St Angora Loop"},{"lng":-75.221404,"lat":39.948101,"stopid":600,"stopname":"Baltimore
        Av &amp; 49th St"},{"lng":-75.221109,"lat":39.948261,"stopid":601,"stopname":"Baltimore
   [...]
- request:
    method: get
    uri: http://www3.septa.org/hackathon/BusSchedules/?req1=20886&req2=34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-B-Srvr:
      - API1
      X-Gw-Rp:
      - '1'
    body:
      encoding: UTF-8
      string: '{"34":[{"StopName":"Baltimore Av & 50th St","Route":"34","date":"7:26a","day":"Mon","Direction":"1","DateCalender":"03\/16\/15
        07:26 am"},{"StopName":"Baltimore Av & 50th St","Route":"34","date":"7:35a","day":"Mon","Direction":"1","DateCalender":"03\/16\/15
        07:35 am"},{"StopName":"Baltimore Av & 50th St","Route":"34","date":"7:43a","day":"Mon","Direction":"1","DateCalender":"03\/16\/15
        07:43 am"},{"StopName":"Baltimore Av & 50th St","Route":"34","date":"7:49a","day":"Mon","Direction":"1","DateCalender":"03\/16\/15
        07:49 am"}]}'
  recorded_at: Mon, 16 Mar 2015 11:26:11 GMT
[...]
- request:
    method: get
    uri: http://www3.septa.org/hackathon/Alerts/get_alert_data.php?req1=trolley_route_34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Mar 2015 11:26:03 GMT
      Content-Type:
      - application/json
      X-B-Srvr:
      - API5
      X-Gw-Rp:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"route_id":"trolley_route_34","route_name":"34","current_message":"","advisory_message":"advisory message","detour_message":"detour message","detour_start_location":"detour start location","detour_start_date_time":"start date time","detour_end_date_time":"end date time","detour_reason":"reason","last_updated":"Mar
        15 2015 04:59:05:003PM","isSnow":"N"}]'
  recorded_at: Mon, 16 Mar 2015 11:26:12 GMT
recorded_with: VCR 2.9.3
